---
- name: Deploy default configurations for lab environment hosts.
  hosts: all
  vars:
    files:
      - src: /root/configs/lab/.bashrc
        dest: /root
      - src: /root/configs/lab/.bash_profile
        dest: /root
      - src: /root/configs/lab/.profile
        dest: /root
      - src: /root/configs/tpad/helix
        dest: /root/.config/
      - src: /root/configs/tpad/lsd
        dest: /root/.config/
      - src: /root/configs/tpad/vivid
        dest: /root/.config/

    packages:
      - helix
      - ripgrep
      - bat
      - lsd
      - vivid

    dirs:
      - /root/.config


  tasks:
      # ──────────────────────────────
    # Try apt installation first
    # ──────────────────────────────
    - name: Install packages via apt
      apt:
        name: "{{ item }}"
        state: present
      loop: "{{ packages }}"
      register: apt_result
      ignore_errors: yes

    # ──────────────────────────────
    # Snap fallback if apt fails
    # ──────────────────────────────
    - name: Install packages via snap if apt failed
      community.general.snap:
        name: "{{ item.item }}"
        state: present
        classic: true
      loop: "{{ apt_result.results }}"
      when: item.failed


    - name: Create dirs
      file:
        path: "{{ item }}"
      loop: "{{ dirs }}"
      tags: dirs

    - name: Deploy dots and config files
      copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
      loop: "{{ files }}"
      tags: files

