- name: Enable CodeReady Builder repository
  command:
    cmd: subscription-manager repos --enable codeready-builder-for-rhel-9-{{ ansible_architecture }}-rpms
  become: true
  changed_when: false
  tags: cbr

- name: Import EPEL GPG key
  ansible.builtin.rpm_key:
    state: present
    key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-9
  become: true
  tags: epel


- name: Install EPEL
  dnf:
    name: "{{ epel_repo }}"
    state: present
  become: true
  tags: epel

- name: Install RPM Fusion repositories
  dnf:
    name: "{{ rpmfusion_repos }}"
    state: present
    disable_gpg_check: yes
  become: true
  tags: rpm_fusion
