- name: Enable CodeReady Builder repository
  ansible.builtin.command:
    cmd: subscription-manager repos --enable codeready-builder-for-rhel-9-{{ ansible_architecture }}-rpms
  changed_when: false
  tags: cbr

- name: Import EPEL GPG key
  ansible.builtin.rpm_key:
    state: present
    key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-9
  tags: epel


- name: Install EPEL
  ansible.builtin.dnf:
    name: "{{ epel_repo }}"
    state: present
  tags: epel

- name: Install RPM Fusion repositories
  ansible.builtin.dnf:
    name: "{{ rpmfusion_repos }}"
    state: present
    disable_gpg_check: yes
  tags: rpm_fusion


- name: Enable Ansible collections
  ansible.builtin.command: ansible-galaxy collection install "{{ item }}"
  loop: "{{ ansible_collections }}"
  changed_when: false
  tags: ansible_collections  
